<div class="hero">

</div>

<div class="about">
     <h1>About Me</h1>

</div>

<div class="portfolio">
     <div class="description">
          <div class="descrip-row">
               <div class="col-title">
                    <h2>Designer</h2>
               </div>
               <div class="col-descrip">
                    <p>I have over 8 years of experience in graphic and UX design for a variety of clients. I believe design should be beautiful, but even more importantly: it should be effective. That means a designer should know the client's goals inside and out, and every bit of the design work should ultimately contribute to achieving those goals. In pursuit of this, I've become familiar with Photoshop, Figma (similar to Sketch), Axure, a variety of online sources, and more. </p>
               </div>
          </div>
          <div class="descrip-row">
               <div class="col-title">
                    <h2>Coder</h2>
               </div>
               <div class="col-descrip">
                    <p>Over the years I'd dabbled with HTML/CSS, but in 2016 I decided to fully jump in. Now I'm learning how to use HTML, CSS, AngularJS, Sass, and other languages (such as Ruby on Rails, ASP.NET, etc.) to bring designs to life online.</p>
               </div>
          </div>
          <div class="descrip-row">
               <div class="col-title">
                    <h2>Leader</h2>
               </div>
               <div class="col-descrip">
                    <p>I have over 8 years of leadership experience, including 5.5 years of executive leadership. I'm especially adept in startup contexts, and have seen a great amount of success in almost every team or project I've undertaken, including helping run 4 ventures at once, being project manager for $12M worth of Department of Labor grants, fixing broken departments, overseeing vastly successful design and marketing campaigns, and much more. I'm a firm believer that there is no leadership except by example, that a great leader must take ownership for everything (especially when things are going wrong), and that true leadership is all about selecting the right people and doing everything you can to make them successful.</p>
               </div>
          </div>
     </div>
</div>
<span style="heigh:500px;"></span>
