<div class="contact">


     <form id="form" class="topBefore" action="https://formspree.io/dougwatsondesign@gmail.com"
           method="POST">

           <h1>I'd love to meet you.</h1>
           <h2>Whether you have questions, want to work with me, or just want to say "Hi", I love meeting new people. Just shoot me a message and I'll get right back to you!</h2>

      <input id="name" type="text" placeholder="NAME" name="name">
      <input id="email" type="email" placeholder="E-MAIL" name="_replyto">
      <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
     <input id="submit" type="submit" value="Send">

     </form>

</div>
