.heroKc{
     width: 100%;
     height: 50vh;
     max-height: 100vw;
     background: url(/src/img/hero-kc.png) center center;
     background-size: 100vw;
     position: relative;
}

.heroEthos{
     width: 100%;
     height: 50vh;
     max-height: 100vw;
     background: url(/src/img/hero-ethos.png) center center;
     background-size: 100vw;
     position: relative;
}

.heroMisc{
     width: 100%;
     height: 50vh;
     max-height: 100vw;
     background: url(/src/img/hero-misc.png) center center;
     background-size: 100vw;
     position: relative;
}

.heroLabfour{
     width: 100%;
     height: 50vh;
     max-height: 100vw;
     background: url(/src/img/hero-labfour.png) center center;
     background-size: 100vw;
     position: relative;
}

.heroMurdock{
     width: 100%;
     height: 50vh;
     max-height: 100vw;
     background: url(/src/img/hero-murdock.png) center center;
     background-size: 100vw;
     position: relative;
}

.heroDiantha{
     width: 100%;
     height: 50vh;
     max-height: 100vw;
     background: url(/src/img/hero-diantha.png) center center;
     background-size: 100vw;
     position: relative;
}

.portfolio{

     h1{
          // text-align: center;
          // font-family: "Lato", sans-serif;
          // font-size: 2em;
          // margin-top: 50px;
          // margin-bottom: 50px;

          text-align: center;
          font-family: "Brandon", sans-serif;
          font-size: 2.5em;
          font-weight: 500;
          margin-top: 75px;
          margin-bottom: 75px;
     }

     h2{
          font-family: "Lato", sans-serif;
          font-size: 1em;
          font-weight: bold;
     }


     p{
          font-family: "Lato", sans-serif;
          font-size: .8em;
          line-height: 19px;
     }

     i{
          font-size: 1.5em;
          width: 20%;
          float: left;
     }

     .content{
          width: 200px;
          margin-right: 50px;
     }
     .grid{
          margin-bottom: 40px;
          margin: 0 auto;
          width: 80%

          p{
               text-align: left;
               font-family: "Lato", sans-serif;
               font-size: 1em;
               margin-top: 5px;
               width: 75%;
               float: left;
          }
}


////////// GRID //////////

     [class*='col-'] {
          float: left;
     }

     .col-skills{
          width: 15%;
          margin-left: 30px;
          margin-right: 30px;
     }

     .col-title{
          width: 20%;
     }

     .col-descrip{
          width: 80%;
          margin-bottom: 40px;
     }

     .grid:after {
          content: "";
          display: table;
          clear: both;
     }

     .grid-pad {
          padding: 20px 0 20px 20px;
     }

     .grid-pad > [class*='col-']:last-of-type {
          padding-right: 20px;
     }

     .description{
          width: 80%;
          margin: 0 auto;
          margin-top: 60px;
          margin-bottom: -20px;
     }

     .examples{
          img{
               margin: 0 auto;
               text-align: center;
          }
     }

     h3{
          font-family: "Lato", sans-serif;
          font-size: .7em;
     }

     .parentTags {
       display: flex;
       flex-flow: row wrap;
       justify-content: space-around;
       width: 80%;
       margin: 0 auto;
       margin-bottom: 80px;
     }

     .childTags {
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 10px;
       padding-right: 10px;
       height: 25px;
       margin: auto;
       background-color: #2C2C2C;
       text-align: center;
       margin: 3px;
       color: white;
     }

     .examplesParent {
       display: flex;
       width: 80%;
       flex-flow: row wrap;
       justify-content: space-around;
       margin: auto;
     }

     .examplesChild {
       width: 100%;
       margin-top: 100px;

            img {
              width: 100%;
              height: auto;
          }
     }

     .thumbsParent{
          display: flex;
          width: 80%;
          flex-flow: row wrap;
          justify-content: space-around;
          margin: auto;
     }

     .thumbsChild{
          width: 40%;
          margin: 20px;
     }


}
